.client {
  @include paddingSection;
}

.client__title {
  @extend %titleSection;
}

.client__list {
  display: flex;
  gap: 30px;
}

.client__item {
  flex-basis: calc((100% - 30px * 5) / 6);
  height: 92px;
}

.client__link {
  @extend %flexCenter;
  width: 100%;
  height: 100%;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--anima-tz), border var(--anima-tz);

  &:hover,
  &:focus {
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
  }
}

.client__icon {
  fill: currentColor;
}
