.menu-toggle {
  @extend %flexCenter;

  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle--open-btn {
  margin-left: auto;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover .icon-mb_menu,
.menu-toggle:focus .icon-mb_menu {
  fill: #2196f3;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fafafa;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu_link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;

  padding-bottom: 32px;

  &.current--mobile {
    padding-bottom: 36px;
    color: #2196f3;
  }
}

.mobile-menu_contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu_contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;

  margin-bottom: 32px;
}
.mobile-menu_contact-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu_item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-socials {
  display: flex;
}
.mobile-socials_link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-socials_item {
  display: inline-block;
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
  }

  &:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 0px;
    transform: rotate(90deg);
    border: 1px solid rgba(33, 33, 33, 0.2);

    position: absolute;
    top: 50%;
  }
}
