.navigation {
  display: flex;
  align-items: baseline;
}

.navigation__list {
  display: flex;
  margin-left: 87px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  position: relative;
  transition: color var(--anima-tz);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }

  &.navigation__link--current {
    color: var(--brand-color);
  }
}

.navigation__link--current::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 100%;
  background: var(--brand-color);
  border-radius: 2px;

  position: absolute;
  left: 0;
  bottom: -2px;
}
