.preference {
  @media screen and (max-width: 1199px) {
    & {
      @include paddingSectionMb;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      @include paddingSection;
    }
  }
}

.preference__list {
  display: flex;
  text-align: left;
  gap: 30px;

  @media screen and (max-width: 1199px) {
    & {
      flex-wrap: wrap;
    }
  }
}

.preference__item {
  flex-basis: 450px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
  @media screen and (min-width: 1200) {
    & {
      flex-basis: calc((100% - 30px * 3) / 4);
    }
  }
}

.preference__picture {
  @extend %flexCenter;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.preference__subtitle {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    & {
      text-align: center;
    }
  }
}

.preference__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
