// проекти

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.projects__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
.projects__info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.projects__link {
  display: block;
  transition: box-shadow var(--anima-tz);

  .projects__item:hover &,
  .projects__item:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/* оверлей */

.projects__overlay-thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  /* border: 1px solid #000000; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;

  transform: translateY(100%);
  transition: transform var(--anima-tz), opacity var(--anima-tz);

  .projects__item:hover & {
    transform: translateY(0);
    opacity: 1;
    backdrop-filter: blur(3px);
  }
}

.projects__overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}
