.work {
  @include paddingSection(0px);

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work__title {
  @extend %titleSection;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__overlay {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text-overlay {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
