@mixin paddingSectionMb($pt: 60px, $pb: 60px) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin paddingSection($pt: 94px, $pb: 94px) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--brand-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  // margin-left: auto;
  // margin-right: auto;
}
